@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global background */
    --background: 217, 92%, 95%;
    /* For Sections */
    --section-background: 0, 0%, 100%;
    /* Primary Colors */
    --primary-black: 198, 10%, 20%;
    --primary-blue: 217, 100%, 61%;
    --primary-blue-light: 217, 100%, 95%;
    --primary-white: 0, 0%, 100%;
    --primary-red: 0, 100%, 67%;
    /* Column Colors */
    --column-line: 217, 18%, 80%;
    --column-fg: 218, 5%, 55%;
    --column-bg: 213, 29%, 94%;
    --column-status-1: 209, 19%, 51%;
    --column-status-2: 19, 97%, 58%;
    --column-status-3: 39, 97%, 60%;
    --column-status-4: 121, 47%, 45%;
    /* Etc */
    --border: 0, 0%, 91%;
    --border-dark: 0, 0%, 75%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    outline: none;
  }
  body {
    @apply bg-background text-primary-black;
    overflow-x: hidden;
  }
}
